<img src="../assets/images/eco-habitat.png" alt="" />
<p style="color: lightgrey;">Rue des renards</p>
<p style="color: lightgrey;">76190 STE MARIE DES CHAMPS</p>
<p style="color: lightgrey;">Téléphone: 02.76.71.00.00</p>
<p style="color: lightgrey;">Site Web: www.ecohabitat76.fr</p>
<p style="color: lightgrey;">Siret: 80001905100013</p>

<h1 style="text-align: center;">SIMULATION PRIME RENOV</h1>
<table border="1" style="border-spacing: 2px; margin: auto">
  <thead>
    <tr>
      <th>Nombre de personne dans le foyer</th>
      <th style="color: blue;">BLEU</th>
      <th style="color: yellow;">JAUNE</th>
      <th style="color: blueviolet;">VIOLET</th>
      <th style="color: pink;">ROSE</th>
    </tr>
  </thead>
  <tr>
    <td>1</td>
    <td *ngFor="let info of palierinfo['1']">
      <span *ngIf="!this.verifyInfinity(info.max)">{{info.min}}-{{info.max}}</span>
      <span *ngIf="this.verifyInfinity(info.max)">>{{info.min}}</span>
    </td>
  </tr>
  <tr>
    <td>2</td>
    <td *ngFor="let info of palierinfo['2']">
      <span *ngIf="!this.verifyInfinity(info.max)">{{info.min}}-{{info.max}}</span>
      <span *ngIf="this.verifyInfinity(info.max)">>{{info.min}}</span>
    </td>
  </tr>
  <tr>
    <td>3</td>
    <td *ngFor="let info of palierinfo['3']">
      <span *ngIf="!this.verifyInfinity(info.max)">{{info.min}}-{{info.max}}</span>
      <span *ngIf="this.verifyInfinity(info.max)">>{{info.min}}</span>
    </td>
  </tr>
  <tr>
    <td>4</td>
    <td *ngFor="let info of palierinfo['4']">
      <span *ngIf="!this.verifyInfinity(info.max)">{{info.min}}-{{info.max}}</span>
      <span *ngIf="this.verifyInfinity(info.max)">>{{info.min}}</span>
    </td>
  </tr>
  <tr>
    <td>5</td>
    <td *ngFor="let info of palierinfo['5']">
      <span *ngIf="!this.verifyInfinity(info.max)">{{info.min}}-{{info.max}}</span>
      <span *ngIf="this.verifyInfinity(info.max)">>{{info.min}}</span>
    </td>
  </tr>
  <tr>
    <td>Par personne supplémentaire</td>
    <td>4412</td>
    <td>5651</td>
    <td>8744</td>
    <td>8744</td>
  </tr>
</table>
<table border="1" style="border-spacing: 2px; margin:auto">
  <thead>
    <tr>
      <th>Prestation</th>
      <th style="color: blue;">BLEU</th>
      <th style="color: yellow;">JAUNE</th>
      <th style="color: blueviolet;">VIOLET</th>
      <th style="color: pink;">ROSE</th>
    </tr>
  </thead>
  <tr *ngFor="let item of prestations['liste']">
    <td>{{item.intitule}}</td>
    <td>{{item.prime.Bleu}}</td>
    <td>{{item.prime.Jaune}}</td>
    <td>{{item.prime.Violet}}</td>
    <td>{{item.prime.Rose}}</td>
  </tr>
</table>

<div *ngIf="info" class="result-info">
<table>
  <tr>
    <td style="width: 300px;">
      <h3 style="text-decoration: underline; color: #34b456; font-weight:500;">RÉCAPITULATIF DE VOTRE PROJET</h3>
      <p style="font-weight: 500;">Type de travaux:</p>
      <p>{{info.intitulePrime}}</p>
      <div style="height: 10px;"></div>
      <p style="font-weight: 500;">Nombre de personne dans le foyer:</p>
      <p>{{info.nbPersonne}}</p>
      <div style="height: 10px;"></div>
      <p style="font-weight: 500;">Vos revenus:</p>
      <p>{{info.revenus}}€</p>
    </td>
    <td>
      <h2 style="text-align: center;">Montant de la prime estimée:</h2>
      <p style="text-align: center; font-weight: 800; font-size: 35px; color: #34b456"> {{info.prime}}€*</p>
      <p style="font-size: 10px;">*Toute demande de prime est soumis à inscription au programme correspondant par le client sur le site internet dédié, la sarl 3LP ECOHABITAT ne pourra être tenue responsable en cas de non inscription et non respect du processus de prime par le client </p>
    </td>
  </tr>
</table>
  <div>

  </div>
  <div>

  </div>
</div>
