<div class="container-form">
  <div>
    <div class="logo">
        <img src="../assets/images/eco-habitat.png" alt="" />
    </div>
    <div class="form-prime" *ngIf="!this.result">
      <form [formGroup]="primeForm">

        <mat-form-field appearance="fill">
          <mat-label>Nombre de personnes dans le foyer</mat-label>
          <input matInput formControlName='nbPersonnes' type="number">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Revenu</mat-label>
          <input matInput formControlName='revenu' type="number">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Travaux</mat-label>
          <mat-select formControlName='travaux'>
            <mat-option *ngFor="let item of this.prestations.liste" [value]="item">{{item.intitule}}</mat-option>
          </mat-select>
        </mat-form-field>

        <button (click)=this.submitPrime() mat-raised-button color="primary" style="display: block; margin: auto;">Valider</button>
      </form>
    </div>
    <div *ngIf="this.result" class="result">

      <h1>Prime: {{result.intitule}}</h1>
      <div class="result-prime">{{result.prime}}</div>
      <div><span (click)= this.refreshForm() class="material-icons" style="font-size: 15vh; cursor: pointer">
        update
        </span></div>

    </div>

  </div>

</div>
