::ng-deep {
.mat-focused .mat-form-field-label {
  /*change color of label*/
  color: white !important;
 }
 .mat-form-field-label{
   color: white;
 }
 mat-form-field-underline {
  /*change color of underline*/
  background-color: white !important;
 }

 mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: white !important;;
 }

 mat-form-field{
   width: 70%;
 }

  .mat-slide-toggle-bar {
  height:20px !important;
  width: 95px !important;
  }
  .mat-slide-toggle-thumb {
    height: 40px !important;
    width: 40px !important;

    background-color: #77797b;

  }

  .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
    transform: translate3d(65px,0,0) !important;
  }

  .mat-slide-toggle-thumb-container {
    width: 12px !important;
    height: 12px !important;
    top: -10px !important;
}
 .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: rgba($color: #34b456, $alpha: 0.6);
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #3f51b5;

 }
}


.toggle-btn-prime {
  display: flex;
  justify-content: space-around;
  height: 100px;
  align-items: center;
  margin-bottom: 50px;
}
.headertitle{
  display: block;
  z-index: 999;
  width: 100%;
  height: 1.5em;
  line-height: 1.5em;
  position: absolute;
  margin: auto;
  text-align:center;
  font-weight: 500;
  width: 100%;
  color: #34b456;
  background-color: rgba($color: #080708, $alpha: 0.8);
}

.container-form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  width: 50%;
  text-align: center;
}

.form-prime {
  background-color: #34b456;
  width: 100%;
  border-radius: 5px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.logo {
  width: 55%;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}
img{
  width: 100%;
}

.result {
  width: 100%;
  height: auto;
  border-radius: 5px;
  background-color: #34b456;
  color: white;
}

.result-info {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.result-prime {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 8vh;
  font-weight: 800;
}

.btn-result {
  display: flex;
  justify-content: space-around;
}

input {
  font-size: 16px;
}

@media (max-width: 850px) {

  ::ng-deep {

     mat-form-field{
       width: 90%;
     }

  }

  .container-form {
    width: 90%;
  }

}
