<div style="z-index: 100; height: 100vh; width: 100vw; background-image: url('./assets/images/fondcrepi.jpg');">
<h1 class="headertitle">SIMULATEUR DE PRIME</h1>
<div class="container-form">
    <div class="logo">
        <img src="../assets/images/eco-habitat.png" alt="" />
    </div>
    <div class="form-prime" *ngIf="!this.result">
      <form [formGroup]="primeForm">

        <mat-form-field appearance="fill">
          <mat-label>Nombre de personnes dans le foyer</mat-label>
          <input matInput formControlName='nbPersonnes' type="number">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Revenu</mat-label>
          <input matInput formControlName='revenu' type="number">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Travaux</mat-label>
          <mat-select formControlName='travaux' (selectionChange)=this.onChangePresta($event.value)>
            <mat-option *ngFor="let item of this.prestations.liste" [value]="item">{{item.intitule}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" *ngIf="verifyChoice('Fenetre')">
          <mat-label>Fenetre</mat-label>
          <input matInput formControlName='nbItem' type="number">
        </mat-form-field>
        <mat-form-field appearance="fill" *ngIf="verifyChoice('Isolation')">
          <mat-label>m2</mat-label>
          <input matInput formControlName='nbItem' type="number">
        </mat-form-field>

        <button (click)=this.submitPrime() mat-raised-button color="primary" style="display: block; margin: auto;">Valider</button>
      </form>
    </div>
    <div *ngIf="this.result" class="result">

      <h1 style="padding-top: 50px;">Prime: {{result.intitulePrime}}</h1>
      <div class="result-prime">{{result.prime}}€</div>
      <div class="btn-result">
        <span (click)= this.refreshForm() class="material-icons" style="font-size: 10vh; cursor: pointer">
        update
        </span>
        <span (click) = "this.savePDF()"  class="material-icons" style="font-size: 10vh; cursor: pointer" class="material-icons" title="Télécharger sous format pdf">
          picture_as_pdf
          </span>
      </div>

    </div>

</div>
</div>
<app-pdf-info [info]=result style="z-index: 0; width: 595pt; height: 842pt"></app-pdf-info>
